body{
    margin:0;
    padding:20px;
    display:flex;
    justify-content:center;
    min-height:100vh;

    background:linear-gradient(
        135deg,
        #7C3AED,
        #A855F7
    );

    font-family:'Montserrat',sans-serif;
}

.container{
    width:100%;
    max-width:420px;
}

/* Header */

header{
    background:linear-gradient(
        135deg,
        #724FF6,
        #C084FC
    );

    color:white;
    padding:25px;
    border-radius:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;

    box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

header h1{
    margin:0;
    font-size:30px;
}

.subtitle{
    margin-top:8px;
    font-size:14px;
    opacity:0.9;
}

.student-icon{
    font-size:55px;
}

/* Section Title */

h2{
    color:white;
    margin-bottom:15px;
}

/* Semester Buttons */

.semester-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.semester-btn{
    background:white;
    border:none;
    border-radius:14px;
    padding:12px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 4px 10px rgba(0,0,0,0.12);
}

.semester-btn:hover{
    transform:translateY(-2px);
}

.semester-btn.active{
    background:#5B21B6;
    color:white;
}

/* Action Buttons */

.action-buttons{
    display:flex;
    gap:10px;
    margin-top:15px;
    margin-bottom:15px;
}

button{
    border:none;
    background:white;
    color:#724FF6;

    padding:12px;

    border-radius:12px;

    font-weight:600;

    cursor:pointer;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* Subject Card */

.subject-card{
    background:white;

    padding:15px;

    border-radius:16px;

    margin-top:15px;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input,
select{
    width:100%;

    padding:10px;

    border:none;

    border-radius:10px;

    background:#F3E8FF;

    margin-bottom:10px;

    box-sizing:border-box;

    font-family:'Montserrat',sans-serif;
}

.subject-row{
    display:flex;
    gap:10px;
    align-items:center;
}

/* Delete Button */

.delete-btn{
    background:#F3E8FF;
    color:#724FF6;

    width:40px;
    height:40px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-top:-10px;
}

/* Summary Cards */

.summary-card{
    background:white;

    padding:15px;

    border-radius:16px;

    margin-top:15px;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.summary-card h3{
    margin-top:0;
    color:#724FF6;
}

/* Result Card */

.distinction-card{
    text-align:center;
    color:#D97706;
    font-weight:700;
}
#clearBtn{
    background:#ef4444;
    color:white;
}

#clearBtn:hover{
    background:#dc2626;
}
